{% load staticfiles %}
<html>
  <head>
      <title>Contact List</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/contact_list.css' %}">
  </head>
  <body>
    <!-- Navigation Bar w/ Dextle and logout button -->
    <nav>
      <h1>DEXTLE.</h1>
      <button>Log Out</button>
    </nav>
    <button>Add New</button>
    <h2>Your Contacts</h2>    
    <!-- For loop that loops through contact names from db -->
    {% if contact_list %}
      {% for name in contact_list %}
        <!--<a href="{% url "contacts:singleContact" name}">{{name.contact_first_name}} {{name.contact_last_name}}</a>-->
        <p>{{name.contact_first_name}} {{name.contact_last_name}}</p>
      {% endfor %}
    {% else %}
      <p>You have no contacts. Add a new one!</p>
    {% endif %}
  </body>
</html>
